* {
    padding: 0;
    margin: 0;
}

.box {
    background-color: rgba(0, 0, 0, 0.1);
    height: 5168px;

    .first {

        .first-title {
            background-color: white;
            display: flex;
            justify-content: space-between;
            width: 960px;
            height: 64px;
            margin: 0 auto;
            align-items: center;
            // background-color: aqua;

            .first-top-left {
                margin-left: 20px;

                img {
                    width: 156px;
                    height: 36px;
                    padding: 14px 0;
                }
            }

            .first-top-right {
                width: 349px;
                height: 34px;
                display: flex;
                line-height: 34px;
                justify-content: space-between;

                .first-top-right-left {
                    position: relative;
                    display: flex;

                    width: 240px;
                    height: 34px;
                    border: 1px solid;
                    background-color: #FDD117;
                    border-radius: 30px;
                    text-align: right;
                    border: none;

                    p {
                        position: absolute;
                        right: 20px;
                        top: 0;
                        font-size: 14px;
                        font-weight: 700;
                        line-height: 34px;
                        height: 34px;
                        width: 60px;
                    }

                    .alert {

                        position: absolute;
                        left: 2px;
                        top: 2px;
                        outline: none;
                        border: none;
                        width: 148px;
                        height: 20px;
                        padding: 5px 16px;
                        border-top-left-radius: 30px;
                        border-bottom-left-radius: 30px;

                    }

                    ::placeholder {
                        color: #c0bdbd;



                    }
                }

                .first-top-right-right {
                    display: flex;
                    margin-right: 15px;

                    .icon-zhuce {
                        font-size: 19px;
                        color: #222222;
                        padding: 0 4px 0 0;
                    }

                    p {
                        color: #222222;
                        font-size: 14px;

                    }
                }
            }

        }
    }



    .three {
        margin-top: 15px;
        padding: 0 70px 60px;
        width: 820px;
        height: 4462px;
        background-color: white;
        margin: 0 auto;

        .three-top {
            width: 820px;
            height: 63px;
            padding: 40px 0 30px;
            border-bottom: 2px dashed #ddd;

            .three-top-top {
                text-align: center;

                p {
                    color: #222222;
                    font-size: 24px;

                }
            }

            .three-top-bottom {
                // background-color: #DDD;
                width: 600px;
                height: 16px;
                display: flex;
                justify-content: space-around;
                margin: 16px auto;

                .one {
                    display: flex;
                    margin: 0 20px;

                    p {
                        color: #666;
                        font-size: 12px;

                    }

                    div {
                        color: #222;
                        font-size: 12px;
                        padding-left: 10px;
                    }

                }

            }

        }

        .three-bottom {
            margin-top: 17px;

            p {
                color: #222;
                font-size: 18px;
                padding: 13px 0;
                text-align: justify;
                line-height: 32px;
            }
            .packet{
                display: flex;
                justify-content: center;
                .last{
                    margin: 0 80px 0 0;
                    a{
                        p{
                            width: 80px;
                            font-size: 16px;
                            color: #222222;
                            border: 1px solid;
                            padding: 0 30px;
                            line-height: 40px;
                            text-align: center;
                            border-radius: 4px;
                            margin: 20px auto;  
                        }
                    }
                }
    
                a {
                    text-decoration: none;
    
                    div {
                        width: 80px;
                        height: 40px;
                        font-size: 16px;
                        color: #222222;
                        border: 1px solid;
                        background-image: linear-gradient(90deg, #ffe040, #fcc800);
                        padding: 0 30px;
                        line-height: 40px;
                        text-align: center;
                        font-weight: 700;
                        border-radius: 4px;
                        border: none;
                        margin: 20px auto;
                    }
                }
            }
           
        }

    }
}
