<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="../../public/css/mui.min.css" />
        <link rel="stylesheet" href="./pageStyle.css" />
    </head>
    <body>
        <!-- 底部分页信息 -->
        <div class="bottom-pagination">
            <div class="pagination mui-content-padded">
                <ul class="mui-pager mui-pagination mui-pagination-sm">
                    <!-- 此分页包括 上一页 1-5 ... 22 下一页 数字框 跳转 -->
                    <!-- 可根据需求需自行添加（里面的样式都是死的，不会变化） -->
                    <li>
                        <a href="#"> 上一页 </a>
                    </li>
                    <li class="mui-active">
                        <a href="#"> 1 </a>
                    </li>
                    <li>
                        <a href="#"> 2 </a>
                    </li>
                    <li>
                        <a href="#"> 3 </a>
                    </li>
                    <li>
                        <a href="#"> 4 </a>
                    </li>
                    <li>
                        <a href="#"> 5 </a>
                    </li>
                    <li>
                        <a href="#"> ... </a>
                    </li>
                    <li class="mui-next">
                        <a href="#"> 22 </a>
                    </li>
                    <li>
                        <a href="#"> 下一页 </a>
                    </li>
                    <li class="num-input">
                        <a href="#">1</a>
                    </li>
                    <li>
                        <a href="#"> 跳转 </a>
                    </li>
                </ul>
            </div>
        </div>
    </body>
</html>
