.reader-layout-theme[data-theme=default][data-v-0d503820],
.reader-layout-theme[data-theme=default] body[data-v-0d503820],
html[data-theme=default][data-v-0d503820],
html[data-theme=default] body[data-v-0d503820] {
  background-color: #e0e0e0
}

.reader-layout-theme[data-theme=blue][data-v-0d503820],
.reader-layout-theme[data-theme=blue] body[data-v-0d503820],
html[data-theme=blue][data-v-0d503820],
html[data-theme=blue] body[data-v-0d503820] {
  background-color: #cfd9e0
}

.reader-layout-theme[data-theme=yellow][data-v-0d503820],
.reader-layout-theme[data-theme=yellow] body[data-v-0d503820],
html[data-theme=yellow][data-v-0d503820],
html[data-theme=yellow] body[data-v-0d503820] {
  background-color: #e3d9bc
}

.reader-layout-theme[data-theme=green][data-v-0d503820],
.reader-layout-theme[data-theme=green] body[data-v-0d503820],
html[data-theme=green][data-v-0d503820],
html[data-theme=green] body[data-v-0d503820] {
  background-color: #ddebd6
}

.reader-layout-theme[data-theme=red][data-v-0d503820],
.reader-layout-theme[data-theme=red] body[data-v-0d503820],
html[data-theme=red][data-v-0d503820],
html[data-theme=red] body[data-v-0d503820] {
  background-color: #f3d8d8
}

.reader-layout-theme[data-theme=dark][data-v-0d503820],
.reader-layout-theme[data-theme=dark] body[data-v-0d503820],
html[data-theme=dark][data-v-0d503820],
html[data-theme=dark] body[data-v-0d503820] {
  background-color: #242121
}

.wrapper.reader[data-v-0d503820] {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none
}

.wrapper.reader .qm-fixed-right-item.catalog .qm-fixed-right-extend[data-v-0d503820],
.wrapper.reader .qm-fixed-right-item.catalog[data-v-0d503820] {
  position: static
}

.reader-layout-theme[data-theme=blue] .wrapper.reader .qm-pop .qm-pop-mod[data-v-0d503820],
.reader-layout-theme[data-theme=default] .wrapper.reader .qm-pop .qm-pop-mod[data-v-0d503820],
.reader-layout-theme[data-theme=green] .wrapper.reader .qm-pop .qm-pop-mod[data-v-0d503820],
.reader-layout-theme[data-theme=red] .wrapper.reader .qm-pop .qm-pop-mod[data-v-0d503820],
.reader-layout-theme[data-theme=yellow] .wrapper.reader .qm-pop .qm-pop-mod[data-v-0d503820] {
  background-color: #fff
}

.reader-layout-theme[data-theme=dark] .wrapper.reader .qm-pop .qm-pop-mod[data-v-0d503820] {
  background-color: #444
}

.reader-layout-theme[data-theme=blue] .wrapper.reader .qm-pop .qm-pop-mod-th span.s-tit[data-v-0d503820],
.reader-layout-theme[data-theme=default] .wrapper.reader .qm-pop .qm-pop-mod-th span.s-tit[data-v-0d503820],
.reader-layout-theme[data-theme=green] .wrapper.reader .qm-pop .qm-pop-mod-th span.s-tit[data-v-0d503820],
.reader-layout-theme[data-theme=red] .wrapper.reader .qm-pop .qm-pop-mod-th span.s-tit[data-v-0d503820],
.reader-layout-theme[data-theme=yellow] .wrapper.reader .qm-pop .qm-pop-mod-th span.s-tit[data-v-0d503820] {
  color: #222
}

.reader-layout-theme[data-theme=dark] .wrapper.reader .qm-pop .qm-pop-mod-th span.s-tit[data-v-0d503820] {
  color: #ccc
}

.reader-layout-theme[data-theme=blue] .wrapper.reader .qm-pop .qm-pop-mod-tb .qm-form-item .qm-input.middle input[data-v-0d503820],
.reader-layout-theme[data-theme=blue] .wrapper.reader .qm-pop .qm-pop-mod-tb .qm-form-item .qm-input.middle textarea[data-v-0d503820],
.reader-layout-theme[data-theme=blue] .wrapper.reader .qm-pop .qm-pop-mod-tb .qm-form-item .qm-select-label em[data-v-0d503820],
.reader-layout-theme[data-theme=default] .wrapper.reader .qm-pop .qm-pop-mod-tb .qm-form-item .qm-input.middle input[data-v-0d503820],
.reader-layout-theme[data-theme=default] .wrapper.reader .qm-pop .qm-pop-mod-tb .qm-form-item .qm-input.middle textarea[data-v-0d503820],
.reader-layout-theme[data-theme=default] .wrapper.reader .qm-pop .qm-pop-mod-tb .qm-form-item .qm-select-label em[data-v-0d503820],
.reader-layout-theme[data-theme=green] .wrapper.reader .qm-pop .qm-pop-mod-tb .qm-form-item .qm-input.middle input[data-v-0d503820],
.reader-layout-theme[data-theme=green] .wrapper.reader .qm-pop .qm-pop-mod-tb .qm-form-item .qm-input.middle textarea[data-v-0d503820],
.reader-layout-theme[data-theme=green] .wrapper.reader .qm-pop .qm-pop-mod-tb .qm-form-item .qm-select-label em[data-v-0d503820],
.reader-layout-theme[data-theme=red] .wrapper.reader .qm-pop .qm-pop-mod-tb .qm-form-item .qm-input.middle input[data-v-0d503820],
.reader-layout-theme[data-theme=red] .wrapper.reader .qm-pop .qm-pop-mod-tb .qm-form-item .qm-input.middle textarea[data-v-0d503820],
.reader-layout-theme[data-theme=red] .wrapper.reader .qm-pop .qm-pop-mod-tb .qm-form-item .qm-select-label em[data-v-0d503820],
.reader-layout-theme[data-theme=yellow] .wrapper.reader .qm-pop .qm-pop-mod-tb .qm-form-item .qm-input.middle input[data-v-0d503820],
.reader-layout-theme[data-theme=yellow] .wrapper.reader .qm-pop .qm-pop-mod-tb .qm-form-item .qm-input.middle textarea[data-v-0d503820],
.reader-layout-theme[data-theme=yellow] .wrapper.reader .qm-pop .qm-pop-mod-tb .qm-form-item .qm-select-label em[data-v-0d503820] {
  color: #222
}

.reader-layout-theme[data-theme=dark] .wrapper.reader .qm-pop .qm-pop-mod-tb .qm-form-item .qm-input.middle input[data-v-0d503820],
.reader-layout-theme[data-theme=dark] .wrapper.reader .qm-pop .qm-pop-mod-tb .qm-form-item .qm-input.middle textarea[data-v-0d503820],
.reader-layout-theme[data-theme=dark] .wrapper.reader .qm-pop .qm-pop-mod-tb .qm-form-item .qm-select-label em[data-v-0d503820] {
  color: #ccc
}

.reader-layout-theme[data-theme=blue] .wrapper.reader .qm-pop .qm-pop-mod-tb .qm-form-item .label[data-v-0d503820],
.reader-layout-theme[data-theme=default] .wrapper.reader .qm-pop .qm-pop-mod-tb .qm-form-item .label[data-v-0d503820],
.reader-layout-theme[data-theme=green] .wrapper.reader .qm-pop .qm-pop-mod-tb .qm-form-item .label[data-v-0d503820],
.reader-layout-theme[data-theme=red] .wrapper.reader .qm-pop .qm-pop-mod-tb .qm-form-item .label[data-v-0d503820],
.reader-layout-theme[data-theme=yellow] .wrapper.reader .qm-pop .qm-pop-mod-tb .qm-form-item .label[data-v-0d503820] {
  color: #666
}

.reader-layout-theme[data-theme=dark] .wrapper.reader .qm-pop .qm-pop-mod-tb .qm-form-item .label[data-v-0d503820] {
  color: #999
}

.wrapper.reader .qm-pop .qm-pop-mod-tb .qm-form-item .qm-input[data-v-0d503820],
.wrapper.reader .qm-pop .qm-pop-mod-tb .qm-form-item .qm-select-label[data-v-0d503820] {
  background-color: rgba(0, 0, 0, 0)
}

.reader-layout-theme[data-theme=blue] .wrapper.reader .qm-pop .qm-pop-mod-tb .qm-form-item .qm-input[data-v-0d503820],
.reader-layout-theme[data-theme=blue] .wrapper.reader .qm-pop .qm-pop-mod-tb .qm-form-item .qm-select-label[data-v-0d503820],
.reader-layout-theme[data-theme=default] .wrapper.reader .qm-pop .qm-pop-mod-tb .qm-form-item .qm-input[data-v-0d503820],
.reader-layout-theme[data-theme=default] .wrapper.reader .qm-pop .qm-pop-mod-tb .qm-form-item .qm-select-label[data-v-0d503820],
.reader-layout-theme[data-theme=green] .wrapper.reader .qm-pop .qm-pop-mod-tb .qm-form-item .qm-input[data-v-0d503820],
.reader-layout-theme[data-theme=green] .wrapper.reader .qm-pop .qm-pop-mod-tb .qm-form-item .qm-select-label[data-v-0d503820],
.reader-layout-theme[data-theme=red] .wrapper.reader .qm-pop .qm-pop-mod-tb .qm-form-item .qm-input[data-v-0d503820],
.reader-layout-theme[data-theme=red] .wrapper.reader .qm-pop .qm-pop-mod-tb .qm-form-item .qm-select-label[data-v-0d503820],
.reader-layout-theme[data-theme=yellow] .wrapper.reader .qm-pop .qm-pop-mod-tb .qm-form-item .qm-input[data-v-0d503820],
.reader-layout-theme[data-theme=yellow] .wrapper.reader .qm-pop .qm-pop-mod-tb .qm-form-item .qm-select-label[data-v-0d503820] {
  border-color: #ddd
}

.reader-layout-theme[data-theme=dark] .wrapper.reader .qm-pop .qm-pop-mod-tb .qm-form-item .qm-input[data-v-0d503820],
.reader-layout-theme[data-theme=dark] .wrapper.reader .qm-pop .qm-pop-mod-tb .qm-form-item .qm-select-label[data-v-0d503820] {
  border-color: #666
}

.reader-layout-theme[data-theme=blue] .wrapper.reader .qm-pop .qm-pop-mod-tb .qm-form-item .s-tit[data-v-0d503820],
.reader-layout-theme[data-theme=default] .wrapper.reader .qm-pop .qm-pop-mod-tb .qm-form-item .s-tit[data-v-0d503820],
.reader-layout-theme[data-theme=green] .wrapper.reader .qm-pop .qm-pop-mod-tb .qm-form-item .s-tit[data-v-0d503820],
.reader-layout-theme[data-theme=red] .wrapper.reader .qm-pop .qm-pop-mod-tb .qm-form-item .s-tit[data-v-0d503820],
.reader-layout-theme[data-theme=yellow] .wrapper.reader .qm-pop .qm-pop-mod-tb .qm-form-item .s-tit[data-v-0d503820] {
  color: #222
}

.reader-layout-theme[data-theme=dark] .wrapper.reader .qm-pop .qm-pop-mod-tb .qm-form-item .s-tit[data-v-0d503820] {
  color: #ccc
}

.reader-layout-theme[data-theme=default] .wrapper.reader .qm-pop .qm-pop-mod-tb .qm-select-list[data-v-0d503820] {
  background-color: #f5f5f5;
  color: #666
}

.reader-layout-theme[data-theme=default] .wrapper.reader .qm-pop .qm-pop-mod-tb .qm-select-list .qm-select-option[data-v-0d503820]:hover {
  background-color: #ebebeb;
  color: #222
}

.reader-layout-theme[data-theme=blue] .wrapper.reader .qm-pop .qm-pop-mod-tb .qm-select-list[data-v-0d503820] {
  background-color: #f5f5f5;
  color: #666
}

.reader-layout-theme[data-theme=blue] .wrapper.reader .qm-pop .qm-pop-mod-tb .qm-select-list .qm-select-option[data-v-0d503820]:hover {
  background-color: #ebebeb;
  color: #222
}

.reader-layout-theme[data-theme=yellow] .wrapper.reader .qm-pop .qm-pop-mod-tb .qm-select-list[data-v-0d503820] {
  background-color: #f5f5f5;
  color: #666
}

.reader-layout-theme[data-theme=yellow] .wrapper.reader .qm-pop .qm-pop-mod-tb .qm-select-list .qm-select-option[data-v-0d503820]:hover {
  background-color: #ebebeb;
  color: #222
}

.reader-layout-theme[data-theme=green] .wrapper.reader .qm-pop .qm-pop-mod-tb .qm-select-list[data-v-0d503820] {
  background-color: #f5f5f5;
  color: #666
}

.reader-layout-theme[data-theme=green] .wrapper.reader .qm-pop .qm-pop-mod-tb .qm-select-list .qm-select-option[data-v-0d503820]:hover {
  background-color: #ebebeb;
  color: #222
}

.reader-layout-theme[data-theme=red] .wrapper.reader .qm-pop .qm-pop-mod-tb .qm-select-list[data-v-0d503820] {
  background-color: #f5f5f5;
  color: #666
}

.reader-layout-theme[data-theme=red] .wrapper.reader .qm-pop .qm-pop-mod-tb .qm-select-list .qm-select-option[data-v-0d503820]:hover {
  background-color: #ebebeb;
  color: #222
}

.reader-layout-theme[data-theme=dark] .wrapper.reader .qm-pop .qm-pop-mod-tb .qm-select-list[data-v-0d503820] {
  background-color: #353535;
  color: #999
}

.reader-layout-theme[data-theme=dark] .wrapper.reader .qm-pop .qm-pop-mod-tb .qm-select-list .qm-select-option[data-v-0d503820]:hover {
  background-color: #242121;
  color: #ccc
}

.wrapper.reader .qm-pop.reader-guide .qm-pop-mod-th span.s-tit[data-v-0d503820] {
  font-size: 22px
}


.qm-fixed-left[data-v-0d503820] {
  width: 100px;
  position: absolute;
  left: 50px;
  /* margin-right: 508px; */
  top: 280px !important;
  z-index: 2
}

.qm-fixed-left.small-offset-top[data-v-0d503820] {
  top: 100px
}

.qm-fixed-left .logo-icon[data-v-0d503820] {
  text-align: center
}

.qm-fixed-left-list[data-v-0d503820] {
  border-radius: 8px;
  overflow: hidden
}

.qm-fixed-left-list-item[data-v-0d503820] {
  padding: 12px 18px;
  background-color: #fff;
  text-align: center;
  cursor: pointer;
  font-size: 13px;
  line-height: 22px
}

.qm-fixed-left-list-item.active[data-v-0d503820] {
  background: #ffebde;
  color: #f56200;
  font-weight: 700
}

.qm-fixed-left-list-item[data-v-0d503820]:hover {
  color: #f56200
}

@media screen and (min-width:1450px) {
  .qm-fixed-left[data-v-0d503820] {
    width: 190px
  }

  .qm-fixed-left-list-item[data-v-0d503820] {
    font-size: 16px;
    padding: 16px 22px;
    line-height: 26px
  }
}

@media screen and (max-width:1449px) {
  .qm-fixed-left-list-item[data-v-0d503820] span {
    display: block
  }
}

@media screen and (max-width:1200px) {
  .qm-fixed-left[data-v-0d503820] {
    margin-right: 490px
  }
}

.reader-layout-theme[data-theme=default][data-v-136d79d8],
.reader-layout-theme[data-theme=default] body[data-v-136d79d8],
html[data-theme=default][data-v-136d79d8],
html[data-theme=default] body[data-v-136d79d8] {
  background-color: #e0e0e0
}

.reader-layout-theme[data-theme=blue][data-v-136d79d8],
.reader-layout-theme[data-theme=blue] body[data-v-136d79d8],
html[data-theme=blue][data-v-136d79d8],
html[data-theme=blue] body[data-v-136d79d8] {
  background-color: #cfd9e0
}

.reader-layout-theme[data-theme=yellow][data-v-136d79d8],
.reader-layout-theme[data-theme=yellow] body[data-v-136d79d8],
html[data-theme=yellow][data-v-136d79d8],
html[data-theme=yellow] body[data-v-136d79d8] {
  background-color: #e3d9bc
}

.reader-layout-theme[data-theme=green][data-v-136d79d8],
.reader-layout-theme[data-theme=green] body[data-v-136d79d8],
html[data-theme=green][data-v-136d79d8],
html[data-theme=green] body[data-v-136d79d8] {
  background-color: #ddebd6
}

.reader-layout-theme[data-theme=red][data-v-136d79d8],
.reader-layout-theme[data-theme=red] body[data-v-136d79d8],
html[data-theme=red][data-v-136d79d8],
html[data-theme=red] body[data-v-136d79d8] {
  background-color: #f3d8d8
}

.reader-layout-theme[data-theme=dark][data-v-136d79d8],
.reader-layout-theme[data-theme=dark] body[data-v-136d79d8],
html[data-theme=dark][data-v-136d79d8],
html[data-theme=dark] body[data-v-136d79d8] {
  background-color: #242121
}

.wrapper.reader[data-v-136d79d8] {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none
}

.wrapper.reader .qm-fixed-right-item.catalog .qm-fixed-right-extend[data-v-136d79d8],
.wrapper.reader .qm-fixed-right-item.catalog[data-v-136d79d8] {
  position: static
}

.reader-layout-theme[data-theme=blue] .wrapper.reader .qm-pop .qm-pop-mod[data-v-136d79d8],
.reader-layout-theme[data-theme=default] .wrapper.reader .qm-pop .qm-pop-mod[data-v-136d79d8],
.reader-layout-theme[data-theme=green] .wrapper.reader .qm-pop .qm-pop-mod[data-v-136d79d8],
.reader-layout-theme[data-theme=red] .wrapper.reader .qm-pop .qm-pop-mod[data-v-136d79d8],
.reader-layout-theme[data-theme=yellow] .wrapper.reader .qm-pop .qm-pop-mod[data-v-136d79d8] {
  background-color: #fff
}

.reader-layout-theme[data-theme=dark] .wrapper.reader .qm-pop .qm-pop-mod[data-v-136d79d8] {
  background-color: #444
}

.reader-layout-theme[data-theme=blue] .wrapper.reader .qm-pop .qm-pop-mod-th span.s-tit[data-v-136d79d8],
.reader-layout-theme[data-theme=default] .wrapper.reader .qm-pop .qm-pop-mod-th span.s-tit[data-v-136d79d8],
.reader-layout-theme[data-theme=green] .wrapper.reader .qm-pop .qm-pop-mod-th span.s-tit[data-v-136d79d8],
.reader-layout-theme[data-theme=red] .wrapper.reader .qm-pop .qm-pop-mod-th span.s-tit[data-v-136d79d8],
.reader-layout-theme[data-theme=yellow] .wrapper.reader .qm-pop .qm-pop-mod-th span.s-tit[data-v-136d79d8] {
  color: #222
}

.reader-layout-theme[data-theme=dark] .wrapper.reader .qm-pop .qm-pop-mod-th span.s-tit[data-v-136d79d8] {
  color: #ccc
}

.reader-layout-theme[data-theme=blue] .wrapper.reader .qm-pop .qm-pop-mod-tb .qm-form-item .qm-input.middle input[data-v-136d79d8],
.reader-layout-theme[data-theme=blue] .wrapper.reader .qm-pop .qm-pop-mod-tb .qm-form-item .qm-input.middle textarea[data-v-136d79d8],
.reader-layout-theme[data-theme=blue] .wrapper.reader .qm-pop .qm-pop-mod-tb .qm-form-item .qm-select-label em[data-v-136d79d8],
.reader-layout-theme[data-theme=default] .wrapper.reader .qm-pop .qm-pop-mod-tb .qm-form-item .qm-input.middle input[data-v-136d79d8],
.reader-layout-theme[data-theme=default] .wrapper.reader .qm-pop .qm-pop-mod-tb .qm-form-item .qm-input.middle textarea[data-v-136d79d8],
.reader-layout-theme[data-theme=default] .wrapper.reader .qm-pop .qm-pop-mod-tb .qm-form-item .qm-select-label em[data-v-136d79d8],
.reader-layout-theme[data-theme=green] .wrapper.reader .qm-pop .qm-pop-mod-tb .qm-form-item .qm-input.middle input[data-v-136d79d8],
.reader-layout-theme[data-theme=green] .wrapper.reader .qm-pop .qm-pop-mod-tb .qm-form-item .qm-input.middle textarea[data-v-136d79d8],
.reader-layout-theme[data-theme=green] .wrapper.reader .qm-pop .qm-pop-mod-tb .qm-form-item .qm-select-label em[data-v-136d79d8],
.reader-layout-theme[data-theme=red] .wrapper.reader .qm-pop .qm-pop-mod-tb .qm-form-item .qm-input.middle input[data-v-136d79d8],
.reader-layout-theme[data-theme=red] .wrapper.reader .qm-pop .qm-pop-mod-tb .qm-form-item .qm-input.middle textarea[data-v-136d79d8],
.reader-layout-theme[data-theme=red] .wrapper.reader .qm-pop .qm-pop-mod-tb .qm-form-item .qm-select-label em[data-v-136d79d8],
.reader-layout-theme[data-theme=yellow] .wrapper.reader .qm-pop .qm-pop-mod-tb .qm-form-item .qm-input.middle input[data-v-136d79d8],
.reader-layout-theme[data-theme=yellow] .wrapper.reader .qm-pop .qm-pop-mod-tb .qm-form-item .qm-input.middle textarea[data-v-136d79d8],
.reader-layout-theme[data-theme=yellow] .wrapper.reader .qm-pop .qm-pop-mod-tb .qm-form-item .qm-select-label em[data-v-136d79d8] {
  color: #222
}

.reader-layout-theme[data-theme=dark] .wrapper.reader .qm-pop .qm-pop-mod-tb .qm-form-item .qm-input.middle input[data-v-136d79d8],
.reader-layout-theme[data-theme=dark] .wrapper.reader .qm-pop .qm-pop-mod-tb .qm-form-item .qm-input.middle textarea[data-v-136d79d8],
.reader-layout-theme[data-theme=dark] .wrapper.reader .qm-pop .qm-pop-mod-tb .qm-form-item .qm-select-label em[data-v-136d79d8] {
  color: #ccc
}

.reader-layout-theme[data-theme=blue] .wrapper.reader .qm-pop .qm-pop-mod-tb .qm-form-item .label[data-v-136d79d8],
.reader-layout-theme[data-theme=default] .wrapper.reader .qm-pop .qm-pop-mod-tb .qm-form-item .label[data-v-136d79d8],
.reader-layout-theme[data-theme=green] .wrapper.reader .qm-pop .qm-pop-mod-tb .qm-form-item .label[data-v-136d79d8],
.reader-layout-theme[data-theme=red] .wrapper.reader .qm-pop .qm-pop-mod-tb .qm-form-item .label[data-v-136d79d8],
.reader-layout-theme[data-theme=yellow] .wrapper.reader .qm-pop .qm-pop-mod-tb .qm-form-item .label[data-v-136d79d8] {
  color: #666
}

.reader-layout-theme[data-theme=dark] .wrapper.reader .qm-pop .qm-pop-mod-tb .qm-form-item .label[data-v-136d79d8] {
  color: #999
}

.wrapper.reader .qm-pop .qm-pop-mod-tb .qm-form-item .qm-input[data-v-136d79d8],
.wrapper.reader .qm-pop .qm-pop-mod-tb .qm-form-item .qm-select-label[data-v-136d79d8] {
  background-color: rgba(0, 0, 0, 0)
}

.reader-layout-theme[data-theme=blue] .wrapper.reader .qm-pop .qm-pop-mod-tb .qm-form-item .qm-input[data-v-136d79d8],
.reader-layout-theme[data-theme=blue] .wrapper.reader .qm-pop .qm-pop-mod-tb .qm-form-item .qm-select-label[data-v-136d79d8],
.reader-layout-theme[data-theme=default] .wrapper.reader .qm-pop .qm-pop-mod-tb .qm-form-item .qm-input[data-v-136d79d8],
.reader-layout-theme[data-theme=default] .wrapper.reader .qm-pop .qm-pop-mod-tb .qm-form-item .qm-select-label[data-v-136d79d8],
.reader-layout-theme[data-theme=green] .wrapper.reader .qm-pop .qm-pop-mod-tb .qm-form-item .qm-input[data-v-136d79d8],
.reader-layout-theme[data-theme=green] .wrapper.reader .qm-pop .qm-pop-mod-tb .qm-form-item .qm-select-label[data-v-136d79d8],
.reader-layout-theme[data-theme=red] .wrapper.reader .qm-pop .qm-pop-mod-tb .qm-form-item .qm-input[data-v-136d79d8],
.reader-layout-theme[data-theme=red] .wrapper.reader .qm-pop .qm-pop-mod-tb .qm-form-item .qm-select-label[data-v-136d79d8],
.reader-layout-theme[data-theme=yellow] .wrapper.reader .qm-pop .qm-pop-mod-tb .qm-form-item .qm-input[data-v-136d79d8],
.reader-layout-theme[data-theme=yellow] .wrapper.reader .qm-pop .qm-pop-mod-tb .qm-form-item .qm-select-label[data-v-136d79d8] {
  border-color: #ddd
}

.reader-layout-theme[data-theme=dark] .wrapper.reader .qm-pop .qm-pop-mod-tb .qm-form-item .qm-input[data-v-136d79d8],
.reader-layout-theme[data-theme=dark] .wrapper.reader .qm-pop .qm-pop-mod-tb .qm-form-item .qm-select-label[data-v-136d79d8] {
  border-color: #666
}

.reader-layout-theme[data-theme=blue] .wrapper.reader .qm-pop .qm-pop-mod-tb .qm-form-item .s-tit[data-v-136d79d8],
.reader-layout-theme[data-theme=default] .wrapper.reader .qm-pop .qm-pop-mod-tb .qm-form-item .s-tit[data-v-136d79d8],
.reader-layout-theme[data-theme=green] .wrapper.reader .qm-pop .qm-pop-mod-tb .qm-form-item .s-tit[data-v-136d79d8],
.reader-layout-theme[data-theme=red] .wrapper.reader .qm-pop .qm-pop-mod-tb .qm-form-item .s-tit[data-v-136d79d8],
.reader-layout-theme[data-theme=yellow] .wrapper.reader .qm-pop .qm-pop-mod-tb .qm-form-item .s-tit[data-v-136d79d8] {
  color: #222
}

.reader-layout-theme[data-theme=dark] .wrapper.reader .qm-pop .qm-pop-mod-tb .qm-form-item .s-tit[data-v-136d79d8] {
  color: #ccc
}

.reader-layout-theme[data-theme=default] .wrapper.reader .qm-pop .qm-pop-mod-tb .qm-select-list[data-v-136d79d8] {
  background-color: #f5f5f5;
  color: #666
}

.reader-layout-theme[data-theme=default] .wrapper.reader .qm-pop .qm-pop-mod-tb .qm-select-list .qm-select-option[data-v-136d79d8]:hover {
  background-color: #ebebeb;
  color: #222
}

.reader-layout-theme[data-theme=blue] .wrapper.reader .qm-pop .qm-pop-mod-tb .qm-select-list[data-v-136d79d8] {
  background-color: #f5f5f5;
  color: #666
}

.reader-layout-theme[data-theme=blue] .wrapper.reader .qm-pop .qm-pop-mod-tb .qm-select-list .qm-select-option[data-v-136d79d8]:hover {
  background-color: #ebebeb;
  color: #222
}

.reader-layout-theme[data-theme=yellow] .wrapper.reader .qm-pop .qm-pop-mod-tb .qm-select-list[data-v-136d79d8] {
  background-color: #f5f5f5;
  color: #666
}

.reader-layout-theme[data-theme=yellow] .wrapper.reader .qm-pop .qm-pop-mod-tb .qm-select-list .qm-select-option[data-v-136d79d8]:hover {
  background-color: #ebebeb;
  color: #222
}

.reader-layout-theme[data-theme=green] .wrapper.reader .qm-pop .qm-pop-mod-tb .qm-select-list[data-v-136d79d8] {
  background-color: #f5f5f5;
  color: #666
}

.reader-layout-theme[data-theme=green] .wrapper.reader .qm-pop .qm-pop-mod-tb .qm-select-list .qm-select-option[data-v-136d79d8]:hover {
  background-color: #ebebeb;
  color: #222
}

.reader-layout-theme[data-theme=red] .wrapper.reader .qm-pop .qm-pop-mod-tb .qm-select-list[data-v-136d79d8] {
  background-color: #f5f5f5;
  color: #666
}

.reader-layout-theme[data-theme=red] .wrapper.reader .qm-pop .qm-pop-mod-tb .qm-select-list .qm-select-option[data-v-136d79d8]:hover {
  background-color: #ebebeb;
  color: #222
}

.reader-layout-theme[data-theme=dark] .wrapper.reader .qm-pop .qm-pop-mod-tb .qm-select-list[data-v-136d79d8] {
  background-color: #353535;
  color: #999
}

.reader-layout-theme[data-theme=dark] .wrapper.reader .qm-pop .qm-pop-mod-tb .qm-select-list .qm-select-option[data-v-136d79d8]:hover {
  background-color: #242121;
  color: #ccc
}

.wrapper.reader .qm-pop.reader-guide .qm-pop-mod-th span.s-tit[data-v-136d79d8] {
  font-size: 22px
}



.qm-to-top[data-v-136d79d8] {
  position: fixed;
  top: 446px;
  width: 55px;
  height: 56px;
  background: #fff;
  border-radius: 4px;
  cursor: pointer;
  left: 50%;
  margin-left: 508px;
  text-align: center;
  padding: 12px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

.qm-to-top .iconfont[data-v-136d79d8] {
  width: 17px;
  height: 18px;
  font-size: 18px;
  margin: 0 auto
}

.qm-to-top .iconfont[data-v-136d79d8],
.qm-to-top .s-title[data-v-136d79d8] {
  line-height: 18px;
  display: block;
  color: #f56200
}

.qm-to-top .s-title[data-v-136d79d8] {
  font-weight: 700;
  font-size: 14px
}

.qm-to-top.right[data-v-136d79d8] {
  bottom: 60px;
  left: auto;
  top: auto;
  right: 10px
}

.qm-to-top.right.arrived-footer[data-v-136d79d8] {
  bottom: 325px
}