<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="../../public/css/webFooter.css" />
    </head>
    <body>
        <!-- ---- 网站底部信息 Begin ---- -->
        <div id="footer">
            <div class="footerInfo">
                <ul class="friendLink">
                    <li>友情链接：</li>
                    <li>
                        <a target="_blank" href="http://xiaoshuo.wtzw.com/">七猫免费小说</a>
                    </li>
                    <li>
                        <a target="_blank" href="http://www.zongheng.com/">纵横中文网</a>
                    </li>
                    <li>
                        <a target="_blank" href="https://miao.qimao.com/">奇妙小说网</a>
                    </li>
                    <li>
                        <a target="_blank" href="http://huayu.zongheng.com/">纵横女生网</a>
                    </li>
                    <li>
                        <a target="_blank" href="https://naodong.zongheng.com/">脑洞星球</a>
                    </li>
                </ul>

                <ul class="about">
                    <li><a target="_blank" href="">关于七猫</a><span>|</span></li>
                    <li><a target="_blank" href="">联系我们</a><span>|</span></li>
                    <li><a target="_blank" href="">我要举报</a><span>|</span></li>
                    <li><a target="_blank" href="">举报工作室</a><span>|</span></li>
                    <li><a target="_blank" href="">隐私协议</a><span>|</span></li>
                    <li><a target="_blank" href="">版权声明</a><span>|</span></li>
                    <li><a target="_blank" href="">我要当作家</a><span>|</span></li>
                    <li><a target="_blank" href="">用户协议</a></li>
                </ul>

                <p class="telephone">客服电话：400-855-9290&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;工作时间：周一至周五9:00-18:00</p>

                <p class="keepOnRecord">
                    <span>上海七猫文化传媒有限公司&nbsp;&nbsp;© 2017 www.qimao.com All rights reserved</span>
                    <a target="_blank" href="https://beian.miit.gov.cn/#/Integrated/index">沪ICP备17012825号-6</a>
                    <span>沪公网安备&nbsp;31011502010023号</span>
                    <a
                        target="_blank"
                        href="https://wap.scjgj.sh.gov.cn/businessCheck/verifKey.do?showType=extShow&serial=9031000020190722152105000004867583-SAIC_SHOW_310000-2020030415053789015&signData=MEQCIEkBkB9iRQU6cFZkvRZxUFL3bfnb79F47g/DlN1cyQz2AiAMvdmNY5e++2nkv9YcqfTuyni81uITxhyu08vw3HgQNA=="
                    >
                        <img src="https://cdn.qimao.com/bookimg/zww/frontendstatic/20200105/images/footer/business_license_pic.jpg" alt="" />
                    </a>
                </p>

                <p class="publish">出版物经营许可证&nbsp;新出发沪批字第Y7129号&nbsp;沪网文 [2020] 1747-135号&nbsp;沪ICP证：沪B2-20190085</p>

                <ul class="netPolice">
                    <li>
                        <a href="javascript:void(0);">
                            <img src="https://cdn.qimao.com/bookimg/zww/frontendstatic/20200105/images/footer/company_pic1.png" alt="" />
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="https://www.12377.cn/">
                            <img src="https://cdn.qimao.com/bookimg/zww/frontendstatic/20200105/images/footer/company_pic2.png" alt="" />
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">
                            <img src="https://cdn.qimao.com/bookimg/zww/frontendstatic/20200105/images/footer/company_pic3.png" alt="" />
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="http://www.shjbzx.cn/">
                            <img src="https://cdn.qimao.com/bookimg/zww/frontendstatic/20200105/images/footer/company_pic4.png" alt="" />
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">
                            <img src="https://cdn.qimao.com/bookimg/zww/frontendstatic/20200105/images/footer/company_pic5.png" alt="" />
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- ---- 网站底部信息 End ---- -->
    </body>
</html>
